nav{
    padding: 15px 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #fff;
    position:sticky;
    top:0;
    z-index: 10;  
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px ;
} 
.nav-left .logo{
    width:130px; 
 
}
.nav-middle .search-box{
    border:1px solid #ccc;
    margin-right: 15px;
    padding :8px 12px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    width: 400px;
}
.nav-middle .search-box input{
    width:400px;
    font-size: large;
    padding-left: 1rem;
    border: 0;
    outline: 0;
    background:transparent;
}
.nav-middle .search-box img{
    width:20px;
    padding-right: 1rem;
}
.nav-right img{
    padding-top: 0.5rem ;
    width: 30px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
}
@media(max-width:900px){
    .menu-icon{
        display:none;
    }
    .nav-right img{
        display:none;
    }
    .nav-right .user-icon{
        display:block;
        width:30px;
    }
    .nav-left .logo{
        width:100px;
        padding-top:8px
    }
    .nav-middle .search-box {
        width:200px;
    }
    .nav-middle .search-box img{
        display:none;
    }
}